.canvas-buttons {
    display: flex;
    justify-content: space-evenly;
    padding: 2rem;
}

.color-select {
    height: 2rem;
    width: 10rem;
    border-radius: 90px;
    border-color: black; 
    border-width: 3px;
    font-weight: 800;
}

.clear-button {
    height: 2rem;
    width: 5rem;
    font-weight: 700;
    font-size: 17px;
    border-radius: 90px;
    background-color: rgb(0, 157, 255);
    border: none;
    color: white;
}

.clear-button:hover {
    background-color: rgba(0, 119, 255, 0.68);
}

.download-button {
    height: 2rem;
    width: 7rem;
    font-weight: 700;
    font-size: 17px;
    border-radius: 90px;
    background-color: rgb(0, 157, 255);
    border: none;
    color: white;
}

.download-button:hover {
    background-color:rgba(0, 119, 255, 0.68);
}

.home-button {
    height: 2rem;
    width: 5rem;
    font-weight: 700;
    font-size: 17px;
    border-radius: 90px;
    background-color: rgb(0, 157, 255);
    border: none;
    color: white;
}

.home-button:hover {
    background-color: rgba(0, 119, 255, 0.68);
}
